<!DOCTYPE html>

<html>
  <head>
      <meta charset="utf-8">
      <title>Wedge Tool</title>
      <script type='text/javascript' src='/static/js/angular-1.6.3.js'></script>
      <script type="text/javascript" src="/static/js/wedge_chart.js"></script>
      <script type="text/javascript" src="/static/js/ng-google-chart.js"></script>
      <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
      <script type="text/javascript" src="/static/js/jquery.layout.min.js"></script>
      <script>
          $(document).ready(function () {
              $('body').layout({ applyDefaultStyles: true });
          });
      </script>
  </head>


  <body ng-app="test" ng-controller="MainCtrl">

            <div class="ui-layout-center">Center

                     <div google-chart chart="chart"
                       style="border:0px inset black;padding:0;width:400px">

                </div>
            </div>

            <div class="ui-layout-east">Top

                    <p>
                    Wedge_1: <input type=range min=-10000 max=0000 value=//aa// ng-model="aa" ng-change="chart.data[14][3]=1*aa">//aa//
                    </p>
                    <p>
                    Wedge_1: <input type=range min=-10000 max=0000 value=//bb// ng-model="bb" ng-change="chart.data[15][3]=1*bb">//bb//
                    </p>
                    <p>
                    Wedge 1: <input type=range min=-10000 max=0000 value=//cc// ng-model="cc" ng-change="chart.data[16][3]=1*cc">//cc//
                    </p>

           </div>

  </body>
</html>
